{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti doloremque esse exercitationem ipsa laborum magnam maiores natus, nihil obcaecati. Aut cupiditate error incidunt nihil numquam officiis reprehenderit soluta veniam?  </p>
{% endblock %}