{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">ecrit le 10/03/2021</div>
        <div class="content"><img src="{{ article.image }}" alt="">
            {{ article.content | raw }}
    </article>
{% endblock %}